body {
    background-image: url("go.png");
    background-repeat: no-repeat;
    border-style: double;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
    h1{
        color: gainsboro;
        text-align: center;
        text-shadow: 3px 3px lightgray;
        font-size: 40px
      
    }

    h3{
        color: lightslategray;
        text-align: center;
        font-size: 25px
    }

    h5{
        color:white;
        text-align: center;
    
    }
    p{
        color: white;
        text-align: center;
    }
